.app {
  max-width: 600px;
  margin: 50px auto;
  padding: 10px;
  border: 1px solid gray;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: "Great Vibes", cursive;
    font-family: "Neonderthaw", cursive;
    font-family: "The Nautigal", cursive;
    color:rgb(4, 46, 8)
  }
  h2 {
    left: 10px;
    font-size: 45px;
    text-align: center;
  }
  p {
    font-size: 20px;
    text-align: center;
  }
  form {
    padding: 50px 20px;
    font-size: 20px;
  }
 
  div {
    text-align: center;
    font-size: 20px;
  }
  .temperature {font-size= 50px;
  font-weight: bold;
}

 .description {
  font-size: 20px;
  color: rgb(8, 8, 139);
 line-height: 50px;
  text-align: center;
}
.windSpeed {
  font-size: 20px;
  
  text-align: center;
  color:rgb(58, 8, 39)
}

 .active {
   color: black;
   cursor: default;
   
 }
 .active:hover {
text-decoration: none;
 }
 .farenheit,
  .active {
   text-decoration: none;
 }
 .address {
   position:relative; 
   top: 25px;
   left:88%;
 }
 .current {
   position: relative;
   bottom: -3px;
   margin-top: 1px;
   padding-top: 3px;
   background-color: rgb(5, 87, 12);
   color: white;
   border-radius: 4px;
 }
 .search-button {
   position: relative;
   bottom:10px;
 }

 .forecast {
   text-align: center;
   margin-top: 20px;
 }
 .forecast .day {
   color:rgb(35, 201, 223);
   font-size: 20px;
 }
 .forecast .max-min-temp {
   font-size: 15px;
   color:rgb(235, 49, 127);
 }
 .color {
   color: rgb(50, 12, 85);
 }
 .humidity {
  color: rgb(51, 9, 49);
 }
 .day {
   color:rgb(13, 44, 112)
 }